.crt {
    display: flex;
    flex-direction: column;
    height: 490px;
}

#createCategorieWin {
    width: 320px;
}

#menuList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.crt .categoryCard {
    background-color: var(--antiflash-white);
    border-radius: 12px;
    padding: 12px;
}

.categoryCard li {
    display: grid;
    grid-template-columns: 220px 100px 36px 36px;
    align-items: center;
}