#cashOptions h2 {
    margin-bottom: 18px;
}

.cajasList {
    height: 100%;
}

.caja {
    display: grid;
    grid-template-columns: 220px 120px;
    align-items: center;
}

.bolder {
    font-weight: 800;
}

#newTransaction .caja {
    grid-template-columns: 220px 200px;
}

#newTransaction input {
    width: 200px;
}