:root {
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    --mainColor: #f16845;
    --hover: #ffeee9;
    --red: #eb252c;
    --green: #8bc927;
    --blue: #379BD8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-size: 62.5%;
    color: var(--eerie-black);
}

button {
    width: fit-content;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
    align-items: center;
}

span {
    font-size: 2rem;
}

h1 {
    color: var(--mainColor);
    font-weight: bolder;
    font-size: 5.5rem;
    line-height: 0;
    place-self: center;
    justify-self: start;
}

.appTitle {
    place-items: center;
    gap: 42px;
}

.appTitle .end {
    line-height: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

html {
    height: 100%;
}

body {
    gap: 18px;
    background-color: var(--antiflash-white);
}

nav {
    padding: 12px 18px;
    display: flex;
    justify-content: end;
    gap: 12px;
    background-color: var(--seasalt);
    border-bottom: solid 1px var(--platinum);
}

nav button {
    text-wrap: nowrap;
    max-height: 44px;
}

input {
    width: 100%;
    padding: 4px 2px;
    border-style: none;
    border-bottom: solid 2px var(--mainColor);
    font-size: 2rem;
    background-color: var(--seasalt);
}

input:focus {
    outline: none;
    background-color: var(--hover);
    border-radius: 4px 4px 0 0;
}

html body .checkbox {
    margin-left: auto;
    width: 30px;
    height: 30px;
}

select {
    font-size: 2rem;
    background-color: var(--seasalt);
    border: solid 1px var(--platinum);
    border-radius: 4px;
}

.table {
    position: relative;
    /* Añadir esta línea */
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tableText {
    padding: 0 6px;
    background-color: var(--antiflash-white);
    border-radius: 4px;
    font-size: 1.5rem;
}

.tooltip {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: var(--platinum);
    padding: 3px;
    border-radius: 8px;
    border: solid 2px var(--onyx);
    display: flex;
    transition-duration: 0.2s;
    pointer-events: none;
    font-size: 1rem;
}

.tooltip span {
    font-size: 1.5rem;
}

.tableSelected .tooltip {
    top: -15px;
    /* Ajusta según sea necesario */
    opacity: 1;
    transition-duration: 0.3s;
}

.table:active .tooltip {
    display: none;
}

html #NotaContainer {
    width: calc(100% - 18px);
    color: var(--red);
    font-weight: 700;
    font-size: 2.5rem;
}

.shifCover {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: var(--antiflash-white);
    z-index: 20;
}

.shifCover .win {
    width: fit-content;
    height: fit-content;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cssbuttons-io-button {
    padding: 12px;
    padding-right: 68px;
    position: relative;
    border-radius: 999px;
    background-color: var(--mainColor);
    color: var(--seasalt);
    font-weight: 600;
}

.cssbuttons-io-button .icon {
    height: 44px;
    width: 44px;
    display: flex;
    place-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 6px;
    border-radius: 22px;
    background-color: var(--seasalt);
    transition: all ease .3s;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 12px);
}

.cssbuttons-io-button:active .icon {
    transform: scaleY(.90) scaleX(.95);
}